@import "../../index.scss";

.mind_map_list {
  // ??????????

  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 242px 242px;

  @media screen and (min-width: 1440px) {
    grid-template-rows: 480px 480px;
  }
}
