@import "../../index.scss";

.hero__container {
  background-color: #dc3b5a;
  border-radius: 24px;
  padding-top: 36px;

  position: relative;

  @media screen and (max-width: 767px) {
    padding-bottom: 19px;
  }
}

.question__text {
  font-family: "Biro Script Plus Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;

  color: #1e1e1e;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 33px;

    text-align: left;

    &.second {
      margin-top: 16px;
    }
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 40px;
    &.second {
      margin-top: 30px;
    }
  }
}

.hero__title {
  font-family: "Right Grotesk Compact Black";

  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0.01em;

  text-align: center;
  color: #1e1e1e;

  @media screen and (min-width: 768px) {
    font-size: 92px;
    line-height: 92px;
    letter-spacing: 0.01em;
    text-align-last: justify;
  }

  @media screen and (min-width: 1440px) {
    font-size: 164px;

    line-height: 164px;
  }
}

.button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  z-index: 9999;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    flex-direction: column-reverse;
    position: absolute;
    bottom: 35px;
    right: 88px;
    width: 190px;
  }

  @media screen and (min-width: 1440px) {
    width: 337px;
    right: 192px;
    bottom: 81px;
  }
}

.hero__text {
  font-family: "Messina Sans Mono Regular";

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  text-transform: uppercase;

  color: #1e1e1e;

  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.hero__button {
  background-color: #1e1e1e1a;
  border: none;

  color: #1e1e1e;

  border-radius: 12px;

  font-family: "Right Grotesk Compact Black";
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;

  padding-top: 10px;
  padding-bottom: 12px;

  text-align: center;
  cursor: pointer;

  transition: ease-in-out color 300ms;

  &:hover {
    color: #ffffff;
  }

  @media screen and (min-width: 1440px) {
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;

    padding-top: 16px;
    padding-bottom: 20px;
    // ??? Почему разные падинги?
  }
}

.hero__text__wrapper {
  // ???

  width: 100%;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 591px;

    margin-top: 88px;
  }

  @media screen and (min-width: 1440px) {
    width: 1019px;
  }
}

.hero__image {
  margin-left: auto;
  margin-right: auto;

  z-index: 999;
  position: relative;
}
