@import "../../index.scss";

.about__title {
  text-transform: uppercase;
  font-family: "Right Grotesk Compact Black";
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;

  color: #ffffff;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    width: 269px;
    margin-bottom: 68px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 120px;
    line-height: 120px;
    width: 538px;
    margin-bottom: 56px;
  }
}

.about__title__span {
  color: #dc3b5a;
}

.about__text {
  color: #ffffff;

  text-transform: uppercase;

  font-family: "Messina Sans Mono Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 29px;
  }

  &.second {
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

// .about__upper_text {
//   width: 409px;
//   text-align: end;
// }

.about__lower_text {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 24px;
    width: 269px;
  }

  @media screen and (min-width: 1440px) {
    gap: 36px;
    width: 417px;
  }
}

.about__wrapper {
  // flex-direction: column;

  position: relative;

  @media screen and (min-width: 768px) {
    display: grid;
    column-gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1440px) {
  }
}

.about__image {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
