@import "../../index.scss";

.slider__buttons_wrapper {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.slider__button {
  font-family: "Biro Script Plus Bold";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;

  background-color: transparent;

  color: #ffffff;

  border: none;

  padding: 0;

  cursor: pointer;
}
