@import "../../../index.scss";

.ticker__item {
  display: flex;
  gap: 24px;
  align-items: center;

  @media screen and (min-width: 1440px) {
    gap: 36px;
  }
}

.animated__text {
  font-family: "Right Grotesk Compact Black";
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;

  @media screen and (min-width: 1440px) {
    font-size: 64px;

    line-height: 64px;
  }

  color: #ffffff;

  text-transform: uppercase;
}
