@import "./scss/";

section {
  padding-left: 8px;
  padding-right: 8px;

  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 15px;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 16px;
    padding-right: 15px;

    padding-top: 60px;
    padding-bottom: 60px;
  }
}
