@import "./base/base";
@import "./base/reset";
@import "./utils/fonts";

@import "./base/common";

.card_text {
  font-family: "Messina Sans Mono Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  text-transform: uppercase;

  width: 228px;

  margin-left: auto;
}

.card_title {
  font-family: "Right Grotesk Compact Black";
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;

  text-transform: uppercase;
}

.title {
  font-family: "Right Grotesk Compact Black";
  font-size: 160px;
  font-weight: 100;
  line-height: 160px;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;

  text-transform: uppercase;

  text-align: center;

  margin-bottom: 80px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid red;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 88px;
    padding-right: 88px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 204px;
    padding-right: 204px;
    width: 1032px;
  }
}

.hero__section {
  background-color: #dc3b5a;
  border-radius: 24px;
}

header {
  display: flex;
  justify-content: space-between;

  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid red;

  position: fixed;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    padding-left: 96px;
    padding-right: 96px;
    width: 1200px;
  }
}

.logo__icon {
  width: 48px;
  height: 32px;

  fill: #1e1e1e;

  transition: fill ease-in-out 350ms;

  @media screen and (min-width: 1440px) {
    width: 72px;
    height: 50px;
  }
}

.menu__icon {
  width: 24px;
  height: 24px;
  fill: #1e1e1e;

  transition: fill ease-in-out 350ms;
}

.social__network_button:hover .menu__icon {
  fill: #f0f0f0;
}

.social__network_button {
  transition: color ease-in-out 350ms;
  //  ??? Нужно оно тут или нет? Высота меняеться
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  padding: 0;

  text-transform: uppercase;

  // ??? Или через падинг?
  // padding: 12px;

  border: none;
  cursor: pointer;

  background-color: transparent;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  font-family: "Messina Sans Mono SemiBold";
}

.social__network_item {
  background-color: #1e1e1e1a;
  border-radius: 12px;
}

.scrolled {
  fill: #ffffff;
  color: #ffffff;
}

.social__network_list {
  display: flex;

  align-items: flex-end;
  flex-direction: column;
  gap: 8px;
}

.hero__button {
  background-color: #1e1e1e1a;
  border: none;
  color: #1e1e1e;
  border-radius: 12px;

  // ??? падинг или высоту?
}

.mind_map_item {
  background-color: #1e1e1e;
  color: #ffffff;

  border-radius: 24px;
  padding: 24px;

  // ??? Правильно ли использовать тут flex?

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mind_map_item.last {
  background-color: #dc3b5a;
}

.mind_map_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 480px 480px;

  gap: 24px;
}

.up_left_arrow_icon {
  width: 64px;
  height: 64px;
  margin-left: auto;
  fill: #fff;
}

.opened__list {
  display: flex;
  width: auto;
  transition: all ease-in-out 500ms;
}

.footer_text {
  font-family: "Messina Sans Mono Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  color: #ffffff;

  text-transform: uppercase;
}

.contact_text {
  font-family: "Messina Sans Mono Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  color: #ffffff;

  text-transform: uppercase;
}

.sharp__icon {
  width: 36px;
  height: 36px;

  fill: #fff;
}

.mint_button {
  background-color: #dc3b5a;

  border-radius: 12px;

  font-family: "Right Grotesk Compact Black";
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.form__wrapper {
  width: 581px;

  // ??? Или в общий контейнер?
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 92px;
  margin-right: 92px;
}

.label {
  border: 1px solid #1e1e1e;
  border-radius: 0 12px 12px 0;
}

.input {
  background-color: inherit;
  border: none;
  outline: none;
}

.form__icon_wrapper {
  background-color: #1e1e1e;

  display: flex;

  padding: 20px;

  border-radius: 12px 0 0 12px;
}

.form__icon {
  width: 24px;
  height: 24px;
}

.label__wrapper {
  display: flex;
}

.nft__item {
  width: 240px;
  height: 280px;
}

.swiper-slide {
  width: auto;
}
